<head>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js'></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
</body>


<script type='text/jsx'>
// Define a class

var Badge = React.createClass({
	render: function(){
		this.props // {}
		return <button className="btn btn-primary" type="button">
  {this.props.title} <span className="badge">{this.props.number}</span>
</button>

	}
});


var options = {
	title: 'Sent',
	number: 12
};
	
//React, please render this class

var element = React.createElement(Badge, options);

//React, after you render this class, please pace it in my body tag

React.render(element, document.body);


</script>


//nesting, place one component inside of another component 